@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: "Lato";
  
    src: url("../assets/fonts/lato-bold.woff2") format("woff2"),
    url("../assets/fonts/lato-bold.woff") format("woff");
  }

  @font-face {
    font-style: normal;
    font-weight: 300;
    font-family: "Lato Regular";
  
    src: url("../assets/fonts/lato-regular.woff2") format("woff2"),
    url("../assets/fonts/lato-regular.woff") format("woff");
  }

  @font-face {
    font-family: 'Latoblack';
    src: url('../assets/fonts/lato-black.woff2') format('woff2'),
         url('../assets/fonts/lato-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Latolight';
    src: url('../assets/fonts/lato-light.woff2') format('woff2'),
         url('../assets/fonts/lato-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
