body {
    margin: 0;
  }

.wrapper{
  max-width: 1020px;
  margin: 0 auto;
}

header{
    background-color: #2d303a;
}

.head{
    display: flex;
    min-height: 89px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-between;
  }

.logo{
    /*margin-left: 40px;
    border: 1px solid black;*/
  }

.logo h1{
    font-size: 25px;
    line-height: 6.32px;
    color: #ffffff;
    font-family: "Lato Regular";
    font-weight: 300;
    text-transform: uppercase;
}

.star{
    color: #f06c64;
}

.navigat{
  padding-top: 10px;
  margin: 0;
}

.list{
    display: flex;
    margin: 0px;
    padding-left: 0px;
}
.list-item {
    display: flex;
    padding-left: 12px;
    padding-right: 13px;
    justify-content: flex-end;
    position: relative;
  }
  
 li:not(:first-child)::before{
    content: '.';
    position: absolute;
    top: -10px;
    left: 2px;
    display: inline-block;
    color: lawngreen;
    
  }

  .list-item a {
    display: flex;
    align-items: left;
    text-decoration: none;
    font-size: 12px;
    line-height: 6.32px;
    color: #f06c64;
    font-family: "Lato";
    font-weight: 300;  
    text-transform: uppercase;
  }
  .bg_bottom_header{
    height: 6px;
    background-color: #323746;  
  }
/********************/
.slider{
  background-color: #f06c64;
}

.slider_block{
    min-height: 585px;
    
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: stretch;
  }
  .chef_left{
    margin-top: 30%;
    padding-left: 2px;
  }

  .chef_left img{
    cursor: pointer;
  }

  .chef_left img::after{
    opacity: 0;
  }

  .iphone_vertical{
    /*margin: 0 98px 0 112px;*/
    margin-top: 54px;
    margin-left: 54px;
    z-index: 2;
  }

  .iphone_vertical img{
    border-radius: 27px;
    box-shadow: 
               25px 25px 0 #ce5e57,
               20px 20px 0 #ce5e57,
               15px 15px 0 #ce5e57,
               10px 10px 0 #ce5e57; 
  }
  .iphone_horizontal{
    margin-top: 175px;
    margin-left: 98px;
    margin-right: 81px;
    z-index: 2;
  }
  .iphone_horizontal img{
    border-radius: 27px;
    box-shadow: 
              25px 25px 0 #ce5e57,
              20px 20px 0 #ce5e57,
              15px 15px 0 #ce5e57,
              10px 10px 0 #ce5e57; 
  }

  .chef_right{
    margin-top: 30%;
  }
  
  .chef_right img{
    cursor: pointer;
  }

  .bg_bottom_slider{
    height: 15px; 
    background-color: #ea676b; 
  }
/********************/
.ourservices{
  background-color: #f2f2f2;
}

.content{
  height: 495px;
  padding-left: 40px;
  padding-right: 40px;
}

.content_block{
  display: flex;
}

.txt_h2{
  margin: 0;
  padding-top: 59px;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
  text-align: justify;
  letter-spacing: 0.3px;
}

.txt_p{
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato Regular";
  font-weight: 200;
  letter-spacing: -0.35px;
  text-align: justify;
}

.content_txt{
  width: 219px;
  margin-top: 22px;
  margin-left: 23px;
  margin-right: 21px;
  margin-bottom: 0;
  overflow: hidden;
}

.tool2{
  display: flex;
}

.tool_icon{
  width: 57px;
  height: 57px;
  margin-top: 29px;
}

.tool_icon_second{
  width: 57px;
  height: 57px;
  margin-top: 32px;
}

.content_txt h3, .content_txt_second h3{
  margin: 0;
  padding-top: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: -0.035px;
 
}

.content_txt p, .content_txt_second p{
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato Regular";
  font-weight: 400;
  letter-spacing: 0.032px;
  text-align: justify;
}

.content_txt_second{
  width: 219px;
  margin-top: 24px;
  margin-left: 23px;
  margin-right: 21px;
  margin-bottom: 0;
  overflow: hidden;
}

.bg_bottom_ourservices{
  height: 6px;
  background-color: #ffffff;
}

