body {
    margin: 0;
  }

.wrapper{
  max-width: 1020px;
  margin: 0 auto;
}

header{
    background-color: #2d303a;
}

.head{
    display: flex;
    min-height: 89px;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: left;
  }

.logo{
    /*margin-left: 40px;*/
    margin: 0;
    
  }

.logo h1{
    font-size: 25px;
    line-height: 6.7px;
    color: #ffffff;
    font-family: "Lato Regular";
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.18px;
}

.star{
  color: #f06c64;
}

.navigat{
  padding-top: 9px;
  padding-left: 110px;
  margin-left: 286px;
}

.list{
    display: flex;
    margin: 0px;
}

.list-item {
    display: flex;
    position: relative;
  }
  
li:not(:first-child)::before{
    content: '.';
    position: absolute;
    top: -10px;
    left: 0px;
    display: inline-block;
    color: #494e62;  
  }

  .list-item a {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    align-items: left;
    text-decoration: none;
    font-size: 12px;
    line-height: 7px;
    color: #ffffff;
    font-family: "Lato Regular";
    font-weight: 550;  
    text-transform: uppercase;
    letter-spacing: -0.15px;
  }

  .list-item a:hover{
    color: #f06c64;
  }

  .bg_bottom_header{
    height: 6px;
    background-color: #323746;  
  }
/********************/
.slider{
  background-color: #f06c64;
}

.slider_block{
    min-height: 585px;
    
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: stretch;
  }
  .chef_left{
    margin-top: 30%;
    padding-left: 2px;
  }

  .chef_left img{
    cursor: pointer;
  }

  .chef_left img::after{
    opacity: 0;
  }

  .iphone_vertical{
    /*margin: 0 98px 0 112px;*/
    margin-top: 54px;
    margin-left: 54px;
    z-index: 2;
  }

  .iphone_vertical img{
    border-radius: 27px;
    box-shadow: 
               25px 25px 0 #ce5e57,
               20px 20px 0 #ce5e57,
               15px 15px 0 #ce5e57,
               10px 10px 0 #ce5e57; 
  }
  .iphone_horizontal{
    margin-top: 175px;
    margin-left: 98px;
    margin-right: 81px;
    z-index: 2;
  }
  .iphone_horizontal img{
    border-radius: 27px;
    box-shadow: 
              25px 25px 0 #ce5e57,
              20px 20px 0 #ce5e57,
              15px 15px 0 #ce5e57,
              10px 10px 0 #ce5e57; 
  }

  .chef_right{
    margin-top: 30%;
  }
  
  .chef_right img{
    cursor: pointer;
  }

  .bg_bottom_slider{
    height: 15px; 
    background-color: #ea676b; 
  }
/********************/
.ourservices{
  background-color: #f2f2f2;
}

.content{
  height: 495px;
  padding-left: 40px;
  padding-right: 40px;
}

.content_block{
  display: flex;
}

.txt_h2{
  margin: 0;
  padding-top: 59px;
  font-size: 30px;
  font-family: "Lato";
  font-weight: 900;
  color: #666d89;
  text-align: justify;
  letter-spacing: 0.3px;
}

.txt_p{
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato Regular";
  font-weight: 200;
  letter-spacing: -0.35px;
  text-align: justify;
}

.content_txt{
  width: 219px;
  margin-top: 22px;
  margin-left: 23px;
  margin-right: 21px;
  margin-bottom: 0;
  overflow: hidden;
}

.tool_content{
  display: flex;
}

.tool_icon{
  width: 57px;
  height: 57px;
  margin-top: 29px;
}

.tool_icon_second{
  width: 57px;
  height: 57px;
  margin-top: 32px;
}

.content_txt h3, .content_txt_second h3{
  margin: 0;
  padding-top: 5px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  letter-spacing: 0.093px;
 
}

.content_txt p, .content_txt_second p{
  margin: 0;
  padding-top: 10px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato Regular";
  font-weight: 400;
  letter-spacing: -0.034px;
  text-align: justify;
}

.content_txt_second{
  width: 219px;
  margin-top: 24px;
  margin-left: 22px;
  margin-right: 21px;
  margin-bottom: 0;
  padding-left: 1px;
  overflow: hidden;
}

.bg_bottom_ourservices{
  height: 6px;
  background-color: #ffffff;
}
/**************************************/
.portfolio{
    margin: 0px;
    background-color: #2d303a;
  }
  
  .portfolio_content{
    min-height: 864px;
    margin: 0px 40px;
  }
  
  .portfolio h2{
    margin: 0px;
    padding-top: 70px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "latoblack";
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.27px;
  }
  
  .portfolio p{
    margin-bottom: 0px;
    padding-top: 8px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "latolight";
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.212px;
  }
  
  .button_portfolio{
    padding-top: 13px;
  }
  
  .button_items{
    margin-right: 5px;
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    background-color: #0f0f0f;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 1.6;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.2px;
  }
  
  .button_items:hover {
    color: #dedede;
    background-color: #0f0f0f;
    border: 1px solid #c5c5c5;
  }
  
  .images_portfolio{
    padding-top: 20px;
    display: flex;
    width: 940px;
    max-height: 620px;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .items_portfolio{
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
    transition: 1s ease;
  }
  
  .bg_portfolio{
    height: 6px;
    background-color: #323746;
  }
  
  .about_us{
    position: relative;
    min-height: 734px;
    background-color: #f2f2f2;
    margin: 0px;
  }
  
  .heading_about_us {
    margin-top: 0px;
    margin-left: 41px;
    margin-right: 4px;
    padding-top: 68px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "latoblack";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.15px;
  }
  
  .decription_about_us {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 3px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "latolight";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.21px;
  }
  
  .persons{  
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 26px;
    
  }
  .person_img{
    width: 300px;
    height: 300px;
    background-color: #464b5e;
  
  }
  
  .person_info h3{
    margin: 0px;
    padding-top: 17px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "latoblack";
    font-weight: 900;
    text-align: left;
    letter-spacing: -0.029px;
  }
  
  .person_info p{
    width: 300px;
    min-height: 32px;
    margin: 0;
    padding-top: 10px;
    font-size: 12px;
    line-height: 1.797;
    color: #767e9e;
    font-family: "Lato Regular";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.155px;
    overflow: hidden;
  }
  
  .person_social{
    margin-top: 24px;
  }
  
  .person_social a{
    margin-right: 4px;
    text-decoration: none;
  }
  
  .icon_soc_media:hover{
    transform: scale(1.2);
  }
  
  .bg_about_us{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
  }
  /****************************/